In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
from src.data_handling import *

In [3]:
data_path = "data/uscities.csv"

In [4]:
df = import_data(data_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31254 entries, 0 to 31253
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          31254 non-null  object
 1   city_ascii    31254 non-null  object
 2   state_id      31254 non-null  object
 3   state_name    31254 non-null  object
 4   county_fips   31254 non-null  int64
 5   county_name   31254 non-null  object
 6   lat           31254 non-null  float64
 7   lng           31254 non-null  float64
 8   population    31254 non-null  int64
 9   density       31254 non-null  float64
 10  source        31254 non-null  object
 11  military      31254 non-null  bool
 12  incorporated  31254 non-null  bool
 13  timezone      31254 non-null  object
 14  ranking       31254 non-null  int64
 15  zips          31252 non-null  object
 16  id            31254 non-null  int64
dtypes: bool(2), float64(3), int64(4), object(8)
memory usage: 3.6+ MB

In [7]:
df = preprocess_data(df)
df.head()

   city_id         city state_id  population      lat       lng
0        0     New York       NY    18832416  40.6943  -73.9249
1        1  Los Angeles       CA    11885717  34.1141 -118.4068
2        2      Chicago       IL     8489066  41.8375  -87.6866
3        3        Miami       FL     6113982  25.7840  -80.2101
4        4      Houston       TX     6046392  29.7860  -95.3885